<html>
<head>

<link href="../static/css/sipoc.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>
  <div class="welcome">Welcome back, {{ username }}!</div>
  <!-- HEADER STARTS HERE -->
  <header>
    <div class="hrow">
      <div class="hcolumnl">
        <a href="/">
          <button type="button" class="logoff">Back</button>
        </a>
      </div>
      <div class="hcolumn">
        <h1>Supplier</h1>
      </div>
      <div class="hcolumnj">
        <h2>Current Job: <br> L14020</h2>
      </div>
    </div>
  </header>
  <!-- HEADER ENDS HERE -->
  <h2>A sign in to say I as the Supplier have completed my action on the board.
  Board to be updated by 08:30 each morning.
  </h2>
 

  <form action="{{ url_for('supplier') }}" method="post", enctype = "multipart/form-data">
    <table>
      <tr>
        <th></th>
        <th>Yes</th>
        <th>No</th>
        <th>Sign name</th>
      </tr>
      {% for item in data %}
      <tr>
        <td>{{item['label']}}</td>
        <!--TODO check needed, if 1 returned default green should be checked, else default red should be checked--->
          <td class="choice">
            <label class="greencontainer">
              <input type="checkbox" class="green" name="storesYes">
            <span class="checkmark"></span>
      </label>
          </td>
          <td class="choice">
            <label class="redcontainer">
              <input type="checkbox" class="red" name="storesNo">
            <span class="checkmark"></span>
        </label>
          </td>
        <td> <input value={{item['signature']}} type ="text", id="sign", name ="sign" placeholder="Enter your name here"/>
        </td>
      </tr>
      {% endfor %}
      <!--TODO remove hard coded and move these to db table -->
    </table>
    <div class="bottom">
      <div class="centeredbutton">
        <a href="hydehome.html">
          <button class="save">Save</button>
        </a>
      </div>
    </div>
  </form>
  <table>
    {% for i in data %}
    <tr>
      <td> {{ i['supplierdashboardID'] }} </td>
      <td> {{ i['label'] }} </td>
      <td> {{ i['completed'] }} </td>
      <td> {{ i['signature'] }} </td>
    </tr>
    {% endfor %}
</table>
</body>
<script src="{{url_for('static', filename='js/checkboxes.js')}}"></script>
<script src="../static/js/checkboxes.js"></script>
</html>
